@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --red: #DD4854 */
  --red: #E06100
}

* {
  /* outline: 1px solid red */
}

.swiper-button-next {
  @apply right-0 bg-gradient-to-l from-zinc-950/60
}

.swiper-button-prev {
  @apply left-0 bg-gradient-to-r from-zinc-950/60
}

.swiper-button-next, 
.swiper-button-prev {
  @apply text-zinc-50 font-[900] h-full top-0 w-[65px]
}

.swiper-button-next:after, 
.swiper-button-prev:after {
  @apply text-[26px]  h-full w-full flex justify-center items-center;
}

.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}

.swiper-button-hidden {
  @apply hidden
}

@media (min-width: 1024px) {
  .hidden-bg {
    background-image: none
  }
}
